<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>

{% if not user.is_authenticated %}
<a href="{% url 'login' %}">Login</a>
<a href="{% url 'signup' %}">Signup</a>
{% endif %}

<p></p>

<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Search</button>
</form>

{% if user.is_authenticated %}
<form action="{% url 'download' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Search</button>
</form>
{% endif %}

<p></p>

{% if images %}
<h4>Found Images</h4>

{% for img in images %}
    <img style="width: 200px" src="{{ img }}">
{% endfor %}
{% endif %}
</body>
</html>